#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	# HA scripts
	mkdir -p debian/tmp/usr/lib/ocf/resource.d/upfront
	cp heartbeat/dummy.py debian/tmp/usr/lib/ocf/resource.d/upfront/dummy
	cp heartbeat/pgsql.py debian/tmp/usr/lib/ocf/resource.d/upfront/pgsql
	cp heartbeat/zeo.py debian/tmp/usr/lib/ocf/resource.d/upfront/zeo
	chmod +x debian/tmp/usr/lib/ocf/resource.d/upfront/*

	# Nagios scripts
	mkdir -p debian/tmp/usr/lib/siyavula-ha-scripts/nagios
	cp nagios/check_drbd_diskspace.py debian/tmp/usr/lib/siyavula-ha-scripts/nagios/check_drbd_diskspace
	cp nagios/check_drbd_status.py debian/tmp/usr/lib/siyavula-ha-scripts/nagios/check_drbd_status
	cp nagios/check_pg_master.py debian/tmp/usr/lib/siyavula-ha-scripts/nagios/check_pg_master
	cp nagios/check_pg_slave.py debian/tmp/usr/lib/siyavula-ha-scripts/nagios/check_pg_slave
	cp nagios/check_cache.py debian/tmp/usr/lib/siyavula-ha-scripts/nagios/check_cache
	chmod +x debian/tmp/usr/lib/siyavula-ha-scripts/nagios/*
